@using System.Web.Script.Serialization
@using MMCApp.Infrastructure.Global;
@{
    ViewBag.Title = "SaveCareCompanyDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/KnockoutViewModel/ManagedCareCompany/SaveDetailViewModel.js")"></script>
    <script type="text/javascript">
        var saveModel = @MvcHtmlString.Create(new JavaScriptSerializer().Serialize(Model));
        var _saveDetailResult = new SaveDetailViewModel(saveModel);
        ko.applyBindings(_saveDetailResult, $("#CompanySaveDetailDiv").get(0));
    </script>

}
<div id="CompanySaveDetailDiv">   
   @{Html.RenderPartial("~/Views/Shared/ManagedCareCompany/_ManagedCareCompanyPartial.cshtml");}
</div>
<style type="text/css">
    #alertify-cancel {
        display: none !important;
    }
</style>