@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12">
    <div class="row label-font">
        <div class="col-sm-12">
            <div class="home-welcome-div">
                Welcome<br />
                Medspectra Managed Care
            </div>
        </div>
    </div>
</div>


