
@using MMCApp.Infrastructure.Global;
@using System.Web.Script.Serialization;
@using (Html.BeginForm(GlobalConst.Actions.EmployerController.SaveEmployerDetail, GlobalConst.Controllers.Employer, FormMethod.Post, new
{
    id = "frmSaveEmployerDetails",
    enctype = "multipart/form-data",
    data_bind = "ajaxForm : { success : function(responseText ,statusText,xhr,$form){AddEmployerSuccess(responseText);},beforeSubmit : EmployerFormBeforeSubmit}"
}))
{
    <div class="row">
        <div class="col-lg-12 client-accordian">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading11">
                    <h4 class="panel-title">
                        <a>
                            Employer Demography
                        </a>
                    </h4>
                </div>
                <div id="collapse11" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading11">
                    <div class="panel-body row">
                        <div class="col-sm-6">
                            <div class="form-group row label-font clearfix">
                                <label for="EmpName" class="col-sm-3 control-label"><span class="required-link">*</span>Employer Name :</label>
                                <div class="col-sm-9">
                                    <input type="hidden" name="EmployerID" id="EmployerID" data-bind="value:EmployerID" />
                                    <input type="text" class="form-control" id="EmpName" required="required" name="EmpName" maxlength="50" data-bind="value:EmpName,jqBootstrapValidation: {}">
                                </div>
                            </div>
                        </div>
                      
                        <div class="col-sm-6">
                            <div class="form-group row label-font clearfix">
                                <label for="EmpContactName" class="col-sm-3 control-label">Contact Name :</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="EmpContactName" maxlength="20" name="EmpContactName" data-bind="value:EmpContactName,jqBootstrapValidation: {}">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group row label-font clearfix">
                                <label for="EmpPhoneExtension" class="col-sm-3 control-label">Phone Extension:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control number" id="EmpPhoneExtension" min="0" maxlength="20" name="EmpPhoneExtension" data-bind="value:EmpPhoneExtension,jqBootstrapValidation: {}">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row label-font clearfix">
                                <label for="EmpAddress1" class="col-sm-3 control-label"><span class="required-link">*</span>Address 1 :</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="EmpAddress1" required="required" name="EmpAddress1" maxlength="50" data-bind="value:EmpAddress1,jqBootstrapValidation: {}">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row label-font clearfix">
                                <label for="EmpAddress2" class="col-sm-3 control-label">Address 2 :</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="EmpAddress2" name="EmpAddress2" maxlength="50" data-bind="value:EmpAddress2,jqBootstrapValidation: {}">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row label-font clearfix">
                                <label for="EmpCity" class="col-sm-3 control-label"><span class="required-link">*</span>City :</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="EmpCity" required="required" name="EmpCity" maxlength="50" data-bind="value:EmpCity,jqBootstrapValidation: {}">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group row label-font clearfix">
                                <label for="EmpStateId" class="col-sm-3 control-label"><span class="required-link">*</span>State :</label>
                                <div class="col-sm-9">
                                    <select id="EmpStateId" class="form-control" name="EmpStateId" data-bind="options: States, optionsText: 'StateName', optionsValue: 'StateId', value: selectedItem,jqBootstrapValidation:{}"></select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group row label-font clearfix">
                                <label for="EmpZip" class="col-sm-3 control-label"><span class="required-link">*</span>Zip :</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control zipMaskformat" id="EmpZip" required="required" maxlength="10" name="EmpZip" data-bind="value:EmpZip,jqBootstrapValidation: {}">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group row label-font clearfix">
                                <label for="EmpPhone" class="col-sm-3 control-label">Phone :</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control phoneMaskformat" id="EmpPhone" maxlength="14" name="EmpPhone" data-bind="value:EmpPhone,jqBootstrapValidation: {}">
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-6">
                            <div class="form-group row label-font clearfix">
                                <label for="EmpFax" class="col-sm-3 control-label">Fax :</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control phoneMaskformat" id="EmpFax"  maxlength="14" name="EmpFax" data-bind="value:EmpFax,jqBootstrapValidation: {}">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group row label-font clearfix">
                                <label for="EmpEMail" class="col-sm-3 control-label">E-mail:</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="EmpEMail" maxlength="50" name="EmpEMail" data-bind="value:EmpEMail,jqBootstrapValidation: {}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- col-lg-12 -->
    </div><!-- row -->
    <div class="row">
        <div class="col-sm-12">            
            <button class="btn btn-red padding-btn color-black pull-right margin-left-20 margin-btm-30" type="submit">Save</button>
        </div>
    </div>
}
<div class="DivHide">
    <input type="hidden" name="Skip" id="hidskip" data-bind="value: $root.Skip" />
    <!--ko if:(TotalItemCount() > 0 || TotalItemCount() == 0 )-->
    <div class="row">
        <div class="col-sm-12"><button class="btn btn-default padding-btn color-black pull-right OpenPop" tabindex="12" data-backdrop="static" data-toggle="modal" data-target="#addEmployerSubsidiaries" type="button">Add New Subsidiary</button></div>
        <div class="col-sm-12 margintop30">
    <div class="white-background">
                <table class="table table-bordered table-striped table-condensed home-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>City </th>
                            <th>Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--ko if:EmployerSubsidiarySearchResults()!= null-->
                        <!-- ko foreach:EmployerSubsidiarySearchResults -->
                        <tr>
                            <td>
                                <span data-bind="text:EMPSubsidiaryName" />
                                <input type="hidden" name="EMPSubsidiaryID" id="EMPSubsidiaryID" data-bind="value:EMPSubsidiaryID" />
                            </td>
                            <td><span data-bind="text:EMPSubsidiaryAddress" /></td>
                            <td><span data-bind="text:EMPSubsidiaryCity" /></td>
                            <td><a data-bind="click:$root.DeleteEmployerSubsidiary" href="">Delete</a> </td>

                        </tr>
                        <!--/ko-->
                        <!--/ko-->

                    </tbody>
                    <tfoot>
                        <!--ko if:EmployerSubsidiarySearchResults()==null || EmployerSubsidiarySearchResults().length==0-->
                        <tr>
                            <td colspan="6">
                                <div class="alert alert-info">
                                    <button type="button" class="close" data-dismiss="alert">
                                        &times;
                                    </button>
                                    No Result Found.
                                </div>
                            </td>
                        </tr>
                        <!-- /ko -->
                    </tfoot>
                </table>
                <nav class="margin-left">
                    @Html.Partial("~/Views/Shared/_Paging.cshtml")
                </nav>
            </div><!-- white-background -->
        </div><!-- col-sm-12 -->
    </div>
    <!-- /ko -->
   
</div>
<div class="modal fade" id="addEmployerSubsidiaries" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg popup-top">
        <div class="modal-content">
            <div class="panel-heading">
                <button type="button" class="close ClosePop" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add New Subsidiary</h4>
            </div>
            <div class="panel-body">              
                @{Html.RenderPartial("~/Views/Shared/Employer/_EmployerSubsidiaryPartial.cshtml");}
            </div>

        </div>
    </div>
</div>