<div class="modal fade bs-example-modal-lg" id="NoteDiv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog position-center modal-lg">
        <div class="modal-content">
            <div class="panel-heading">
                <button type="button" class="close"  data-bind="click:CloseNotes" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Notes </h4>
            </div>

            <div class="modal-body">
                <div class="panel-body">
                    <div class="row">
                        <div id="divEditorNote">
                            @Html.Raw(ViewBag.EditorNote)
                            <input type="hidden" id="hidNoteID" name="NoteID" value="0"/>
                        </div>
                        <br />
                        <div class="col-sm-6">
                            <div class="form-group row label-font clearfix">
                                <label for="inputEmail3" class="col-sm-3 control-label"><span class="required-link">*</span>Claim :</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="dllClaim" required data-bind="options: ClaimDetail, optionsCaption:'Select',  optionsText: 'PatClaimNumber', optionsValue: 'PatientClaimID',value:ClaimselectedItem,jqBootstrapValidation:{}"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row label-font clearfix">
                                <label for="inputEmail3" class="col-sm-3 control-label">Request :</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="dllRequest" data-bind="options: RequestDetail, optionsCaption:'Select',  optionsText: 'RFARequestedTreatment', optionsValue: 'RFARequestID',value:RequestselectedItem"></select>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-red padding-btn color-black pull-right margintop10" data-bind="click:SaveNotes"  type="button">Save</button>
                    </div>
                    <!-- row -->
                </div>
            </div>
        </div>
    </div>
</div>
