@using MMCApp.Infrastructure.Global;
<div id="PhysicianSearchDiv">
    <div class="col-sm-12">
        <div class="row label-font">
            <div class="col-sm-12">
                <div class="form-group row clearfix">
                    @*<h4 for="inputEmail3" class="col-sm-12 control-label">Search Physician :</h4>*@

                    @*<div class="col-sm-12">
                        <div class="form-group row label-font clearfix">
                            <label class="col-sm-4 control-label"><span class="required-link">*</span>Choose a criteria :</label>
                            <div class="col-sm-8">
                                <select id="PhySearchTypeDDL" class="form-control" name="PhySearchTypeDDL.SearchCriteria">
                                    <option value="Name">Name</option>
                                    <option value="NPI">NPI</option>
                                    <option value="Speciality">Speciality</option>
                                </select>
                            </div>
                        </div>
                    </div>*@
                    


                        <!-- /input-group -->


                        <div class="col-sm-12 margintop20">
                            <div class="form-group row label-font clearfix">
                                <label class="col-sm-1 control-label"><span class="required-link">*</span>Search:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control marginright15" id="SearchTextByName" maxlength="50" required="required" placeholder="Enter the Keywords Here" data-bind="jqBootstrapValidation: {}" />                                    
                                    @*<select id="ddlSpeciality" class="form-control" required="required" style="display:none" data-bind="options: Specialties, optionsText: 'SpecialtyName', optionsValue: 'SpecialtyID'"></select>*@
                                </div>
                                <div class="col-sm-3 pull-right">
                                    <button class="btn btn-default padding-btn " data-bind="click:$root.PhysicianSearchName" type="submit">Search</button>
                                    <input id="btnClearGrid" type="button" data-bind="click:$root.ClearSearchGrid" style="display:none;" />
                                    <a class="btn btn-default padding-btn pull-right" target="_blank" href="@Url.Action("SavePhysicianDetail", "Physician")">Add New</a>
                                </div>
                            </div>
                        </div>

                        



                        <!-- col-sm-2 -->
                    </div>

            </div><!-- col-sm-2 -->


        </div><!-- row -->
    </div><!-- row -->
    <!--ko if:(TotalItemCount() > 0 || TotalItemCount() == 0 )-->
    <div class="row">
        <div class="col-sm-12 margintop30">
            <div class="white-background">
                <table class="table table-bordered table-striped table-condensed home-table">
                    <thead>
                        <tr>
                            <th>Physician Name</th>
                            <th>Physician Specialty </th>
                            <th>Physician E-mail </th>
                            <th>Physician Zip</th>
                            <th>Action </th>

                        </tr>
                    </thead>
                    <tbody>
                        <!--ko if:PhysicianSearchResults()!= null-->
                        <!-- ko foreach:PhysicianSearchResults -->
                        <tr>
                            <td>
                                <span data-bind="text:(PhysFirstName() + ' ' + PhysLastName())" />
                                <input type="hidden" name="PhysicianId" id="PhysicianId" data-bind="value:PhysicianId()" />
                            </td>
                            <td><span data-bind="text :PhysSpecialtyName" /></td>
                            <td><span data-bind="text :PhysEMail" /> </td>
                            <td><span data-bind="text :PhysZip" /></td>
                            <td> <a href="#" data-bind="click:$root.selectPhysician">Select</a></td>

                        </tr>
                        <!--/ko-->
                        <!--/ko-->

                    </tbody>
                    <tfoot>
                        <!--ko if:PhysicianSearchResults()==null || PhysicianSearchResults().length==0-->
                        <tr>
                            <td colspan="6">
                                <div class="alert alert-info">
                                    <button type="button" class="close" data-dismiss="alert">
                                        &times;
                                    </button>
                                    No Result Found.
                                </div>
                            </td>
                        </tr>
                        <!-- /ko -->
                    </tfoot>
                </table>
                <nav class="margin-left">
                    @Html.Partial("~/Views/Shared/_Paging.cshtml")
                </nav>
            </div><!-- white-background -->
        </div><!-- col-sm-12 -->
    </div>
    <!-- /ko -->
</div>