@using System.Web.Script.Serialization
@using MMCApp.Infrastructure.Global;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/KnockoutViewModel/Adjuster/SaveDetailViewModel.js")"></script>  
    <script type="text/javascript">
        var saveModel = @MvcHtmlString.Create(new JavaScriptSerializer().Serialize(Model));
        var _saveDetailResult = new SaveDetailViewModel(saveModel);
        ko.applyBindings(_saveDetailResult, $("#AdjusterSaveDetailDiv").get(0));
      

    </script> 

}
<div id="AdjusterSaveDetailDiv">
    @{Html.RenderPartial("~/Views/Shared/Adjuster/_AdjusterPartial.cshtml");}
</div>
