@using System.Web.Script.Serialization
@using MMCApp.Infrastructure.Global;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/KnockoutViewModel/CaseManager/SaveDetailViewModel.js")"></script>
    <script type="text/javascript">
        var saveModel = @MvcHtmlString.Create(new JavaScriptSerializer().Serialize(Model));
        var _saveDetailResult = new SaveDetailViewModel(saveModel);
        ko.applyBindings(_saveDetailResult, $("#CaseManagerSaveDetailDiv").get(0));
    </script>

}
<div id="CaseManagerSaveDetailDiv">
    @{Html.RenderPartial("~/Views/Shared/CaseManager/_CaseManagerPartial.cshtml");}
</div>
