<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,               Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <connectionStrings>
    <add name="MMCDbContext" connectionString="Data Source=VSA-SAT-DB1\SQL2K14; Initial Catalog=MMC;User ID=uttam;Password=uttam" providerName="System.Data.SqlClient"></add>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>


  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <typeAliases>
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    </typeAliases>
    <containers>
      <container name="Default">
        <!--************************* Repo ******************************************************************************************************** -->
        <type type="MMC.Core.BL.IUserRepository, MMC.Core.BL" mapTo="MMC.Core.BLImplementation.UserRepository, MMC.Core.BLImplementation"></type>
        <type type="MMC.Core.BL.IInsurerRepository, MMC.Core.BL" mapTo="MMC.Core.BLImplementation.InsurerRepository, MMC.Core.BLImplementation"></type>
        <type type="MMC.Core.BL.IAdjusterRepository, MMC.Core.BL" mapTo="MMC.Core.BLImplementation.AdjusterRepository, MMC.Core.BLImplementation"></type>
        <type type="MMC.Core.BL.IPhysicianRepository, MMC.Core.BL" mapTo="MMC.Core.BLImplementation.PhysicianRepository, MMC.Core.BLImplementation"></type>
        <type type="MMC.Core.BL.IVendorRepository, MMC.Core.BL" mapTo="MMC.Core.BLImplementation.VendorRepository, MMC.Core.BLImplementation"></type>
        <type type="MMC.Core.BL.IEmployerRepository, MMC.Core.BL" mapTo="MMC.Core.BLImplementation.EmployerRepository, MMC.Core.BLImplementation"></type>
        <type type="MMC.Core.BL.IPatientRepository, MMC.Core.BL" mapTo="MMC.Core.BLImplementation.PatientRepository, MMC.Core.BLImplementation"></type>
        <type type="MMC.Core.BL.ICommonRepository, MMC.Core.BL" mapTo="MMC.Core.BLImplementation.CommonRepository, MMC.Core.BLImplementation"></type>
        <type type="MMC.Core.BL.ICaseManagerRepository, MMC.Core.BL" mapTo="MMC.Core.BLImplementation.CaseManagerRepository, MMC.Core.BLImplementation"></type>
        <type type="MMC.Core.BL.IThirdPartyAdministratorRepository, MMC.Core.BL" mapTo="MMC.Core.BLImplementation.ThirdPartyAdministratorRepository, MMC.Core.BLImplementation"></type>
        <type type="MMC.Core.BL.IThirdPartyAdministratorBranchRepository, MMC.Core.BL" mapTo="MMC.Core.BLImplementation.ThirdPartyAdministratorBranchRepository, MMC.Core.BLImplementation"></type>
        <type type="MMC.Core.BL.IManagedCareCompanyRepository, MMC.Core.BL" mapTo="MMC.Core.BLImplementation.ManagedCareCompanyRepository, MMC.Core.BLImplementation"></type>
        <type type="MMC.Core.BL.IIntakeRepository, MMC.Core.BL" mapTo="MMC.Core.BLImplementation.IntakeRepository, MMC.Core.BLImplementation"></type>
        <type type="MMC.Core.BL.IMedicalGroupRepository, MMC.Core.BL" mapTo="MMC.Core.BLImplementation.MedicalGroupRepository, MMC.Core.BLImplementation"></type>
        <type type="MMC.Core.BL.IPreparationRepository, MMC.Core.BL" mapTo="MMC.Core.BLImplementation.PreparationRepository, MMC.Core.BLImplementation"></type>
        <type type="MMC.Core.BL.INotificationRepository, MMC.Core.BL" mapTo="MMC.Core.BLImplementation.NotificationRepository, MMC.Core.BLImplementation"></type>
        <type type="MMC.Core.BL.ILetterRepository, MMC.Core.BL" mapTo="MMC.Core.BLImplementation.LetterRepository, MMC.Core.BLImplementation"></type>
        <type type="MMC.Core.BL.IAttorneyRepository, MMC.Core.BL" mapTo="MMC.Core.BLImplementation.AttorneyRepository, MMC.Core.BLImplementation"></type>
        <type type="MMC.Core.BL.IClientRepository, MMC.Core.BL" mapTo="MMC.Core.BLImplementation.ClientRepository, MMC.Core.BLImplementation"></type>
        <type type="MMC.Core.BL.IPeerReviewRepository, MMC.Core.BL" mapTo="MMC.Core.BLImplementation.PeerReviewRepository, MMC.Core.BLImplementation"></type>
        <type type="MMC.Core.BL.IADRRepository, MMC.Core.BL" mapTo="MMC.Core.BLImplementation.ADRRepository, MMC.Core.BLImplementation"></type>
        <type type="MMC.Core.BL.IIMRRepository, MMC.Core.BL" mapTo="MMC.Core.BLImplementation.IMRRepository, MMC.Core.BLImplementation"></type>
        <type type="MMC.Core.BL.IBillingRepository, MMC.Core.BL" mapTo="MMC.Core.BLImplementation.BillingRepository, MMC.Core.BLImplementation"></type>
        <type type="MMC.Core.BL.IEmailRecordRepository, MMC.Core.BL" mapTo="MMC.Core.BLImplementation.EmailRecordRepository, MMC.Core.BLImplementation"></type>
        <type type="MMC.Core.BL.ICurrentWorkloadRepository, MMC.Core.BL" mapTo="MMC.Core.BLImplementation.CurrentWorkloadRepository, MMC.Core.BLImplementation"></type>
      </container>
    </containers>
  </unity>


  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>