@using MMCApp.Infrastructure.Global;
<div>
    <input type="hidden" name="Skip" id="hidskipcins" data-bind="value: $root.cinsSkip" />
    <div class="row">
        <div class="col-sm-12">
            <div class="white-background">
                <table class="table table-bordered table-striped table-condensed home-table">
                    <thead>
                        <tr>
                            <th>Insurer Name</th>
                            <th>Insurer Address</th>
                            <th>Insurer City </th>
                            <th>Insurer State </th>
                            <th>Insurer Zip</th>
                            <th>Action </th>

                        </tr>
                    </thead>
                    <tbody>
                        <!--ko if:ClientInsurerDetails()!= null-->
                        <!-- ko foreach:ClientInsurerDetails -->
                        <tr>
                            <td><span data-bind="text:InsName" /></td>
                            <td><span data-bind="text:InsAddress1" /></td>
                            <td><span data-bind="text:InsCity" /></td>
                            <td><span data-bind="text:InsState" /></td>
                            <td><span data-bind="text:InsZip" /></td>
                            <td> <a data-bind="click:$root.DeleteClientInsurerByID" href="#">Delete</a>
                                <input type="hidden" name="InsType" id="InsType" data-bind="value : InsType" />
                             </td>
                        </tr>
                        <!--/ko-->
                        <!--/ko-->
                    </tbody> 
                    <tfoot>
                        <!--ko if:ClientInsurerDetails()==null || ClientInsurerDetails().length==0-->
                        <tr>
                            <td colspan="6">
                                <div class="alert alert-info">
                                    <button type="button" class="close" data-dismiss="alert">
                                        &times;
                                    </button>
                                    No Result Found.
                                </div>
                            </td>
                        </tr>
                        <!-- /ko -->
                    </tfoot>
                </table>
                <nav class="margin-left">                   
                    <!-- ko if:cinsPager().cinsTotalItemCount() > 0 -->
                    <div class="pagination" data-bind="with: cinsPager">
                        <div class="pagexofx">
                            <span data-bind="text:cinsFirstItemIndex"></span>
                            -
                            <span data-bind="text: cinsLastItemIndex"></span>
                            of
                            <strong>
                                <span data-bind="text: cinsTotalItemCount"></span>
                            </strong>
                            total results.
                        </div>
                        <ul class="pagination">
                            <!-- ko if:cinsCurrentPage() === 1 -->
                            <li class="disabled">
                                <a href="#" class="disabledPage">&laquo;&laquo;</a>
                            </li>
                            <!-- /ko -->
                            <!-- ko ifnot:cinsCurrentPage() === 1 -->
                            <li>
                                <a href="#" data-bind="click: function(){ cinsCurrentPage(1); }">&laquo;&laquo;</a>
                            </li>
                            <!-- /ko -->
                            <!-- ko if:cinsHasPrevPage -->
                            <li>
                                <a href="#" data-bind="click: function(){ cinsCurrentPage(cinsCurrentPage() - 1); }">&laquo;</a>
                            </li>
                            <!-- /ko -->
                            <!-- ko ifnot:cinsHasPrevPage -->
                            <li class="disabled">
                                <a href="#" class="disabledPage">&laquo;</a>
                            </li>
                            <!-- /ko -->
                            <!-- ko foreach:cinsPages -->
                            <!-- ko if:$data === $parent.cinsCurrentPage() -->
                            <li class="active">
                                <span class="currentPage" data-bind="text: $data"></span>
                            </li>
                            <!-- /ko -->
                            <!-- ko if:$data !== $parent.cinsCurrentPage() -->
                            <li>
                                <a href="#" data-bind="text: $data, click: function(){ $parent.cinsCurrentPage($data); }"></a>
                            </li>
                            <!-- /ko -->
                            <!-- /ko -->
                            <!-- ko if:cinsHasNextPage -->
                            <li>
                                <a href="#" data-bind="click: function(){ cinsCurrentPage(cinsCurrentPage() + 1); }">&raquo;</a>
                            </li>
                            <!-- /ko -->
                            <!-- ko ifnot:cinsHasNextPage -->
                            <li class="disabled">
                                <a href="#" class="disabledPage">&raquo;</a>
                            </li>
                            <!-- /ko -->
                            <!-- ko ifnot:cinsCurrentPage() === cinsLastPage() -->
                            <li>
                                <a href="#" data-bind="click: function(){ cinsCurrentPage(cinsLastPage()); }">&raquo;&raquo;</a>
                            </li>
                            <!-- /ko -->
                            <!-- ko if:cinsCurrentPage() === cinsLastPage() -->
                            <li class="disabled">
                                <a href="#" class="disabledPage">&raquo;&raquo;</a>
                            </li>
                            <!-- /ko -->
                        </ul>

                    </div>
                    <!-- /ko -->
                </nav>
            </div><!-- white-background -->


        </div><!-- col-sm-12 -->
    </div>
    <button class="btn btn-default padding-btn color-black pull-right margin-left-20 OpenPop" tabindex="12" data-backdrop="static" id="OpenPopUpClientInsurer" data-toggle="modal" data-target="#addClientInsurer" type="button">Add New</button>
    <button class="btn btn-default padding-btn color-black pull-right margin-left-20 OpenPop" tabindex="12" data-backdrop="static" id="OpenPopUpClientInsuranceBranch" data-toggle="modal" data-target="#addClientInsuranceBranch" type="button">Add New Insurance Branch</button>
    <!--Model-->
    <div class="modal fade" id="addClientInsurer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg popup-top">
@using (Html.BeginForm(GlobalConst.Actions.Client.AddClientInsurer, GlobalConst.Controllers.Client, FormMethod.Post, new
    {
        id = "frmaddClientInsuer",
        enctype = "multipart/form-data",
        data_bind = "ajaxForm:{ success: function(responseText, statusText, xhr, $form){ AddClientInsurerDetailSuccess(responseText);},beforeSubmit: ClientInsuerFormBeforeSubmit}"
    }))
    {
            <div class="modal-content">
                <div class="panel-heading">
                    <button type="button" class="close ClosePop" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Add Client Insurer</h4>
                </div>
                <div class="modal-body">
                    <div class="divClaim">

                        <div class="row">

                            <div class="panel-wrapper">
                                <div class="panel-body">

                                    <div class="col-md-4">
                                        <label>Insurer:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="hidden" name="ClientID" id="InsurerClientID"/>
                                        <select id="Insurance" class="form-control" name="InsurerID" data-bind="options: InsuranceList, optionsText: 'InsName', optionsValue: 'InsurerID',value:InsSelectedValue,jqBootstrapValidation:{}"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default ClosePop">Save</button>
                    <button type="button" class="btn btn-default ClosePop" id="ClosePopUpInsurer" data-dismiss="modal">Close</button>
                </div>
            </div>
}
        </div>
    </div>

    <div class="modal fade" id="addClientInsuranceBranch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg popup-top">
            @using (Html.BeginForm(GlobalConst.Actions.Client.AddClientInsuranceBranch, GlobalConst.Controllers.Client, FormMethod.Post, new
    {
        id = "frmaddClientInsuerBranch",
        enctype = "multipart/form-data",
        data_bind = "ajaxForm:{ success: function(responseText, statusText, xhr, $form){ AddClientInsuranceBranchDetailSuccess(responseText);},beforeSubmit: ClientInsuranceBranchFormBeforeSubmit}"
    }))
            {
                <div class="modal-content">
                    <div class="panel-heading">
                        <button type="button" class="close ClosePop" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Add Insurance Branch(s)</h4>
                    </div>
                    <div class="modal-body">
                        <div class="divClaim">

                            <div class="row">

                                <div class="panel-wrapper">
                                    <div class="panel-body">

                                        <div class="col-md-4">
                                            <label>Insurance Branch:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="hidden" name="ClientID" id="InsuranceBranchClientID" />
                                            <input type="hidden" name="InsurerID" id="HFInsurerID" />
                                            <select id="Insurance" class="form-control" name="InsuranceBranchID" data-bind="options: InsuranceBranchList, optionsText: 'InsBranchName', optionsValue: 'InsuranceBranchID',value:InsBranchSelectedValue,jqBootstrapValidation:{}"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-red ClosePop">Save</button>
                        <button type="button" class="btn btn-default ClosePop" id="ClosePopUpInsurerBranch" data-dismiss="modal">Close</button>
                    </div>
                </div>
            }
        </div>
    </div>

</div>